<html>
    <head>
        <title>Find A Partner</title>
        <link type = "text/css" rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link type = "text/css" rel="stylesheet" href = "/stylesheets/app.css">

    </head>
    <body>
        <div class = "ui fixed inverted menu">
            <div class = "ui container">
                <div class = "header item"><i class="users icon"></i>Find A Partner</div>
                <a href = "/" class = "item">Event List</a>
                <a href = "/events/new" class = "item"> New Event</a>
                <a href = "/users" class = "item"> Users</a>
                <a href = "/users/new" class = "item"> New Users</a>
            </div>

        </div>

